{% extends "base.html" %}

{% block title %}<title>Dashboard</title>{% endblock title %}


{% block content %}
<div class="container">
    <section class="vehicules">
        <h2>Mes Véhicules</h2>
        <div class="vehicules__cards">
            {% for vehicule in vehicules %}
            <a href="{% url 'vehicules:detail' vehicule.pk %}" class="card-item">
                <div class="card__img">
                    <img src="{{ vehicule.photo.url }}" alt="{{ vehicule.marque }} {{ vehicule.modele }}">
                </div>
                <div class="card__content">
                    <h3>{{ vehicule.marque }} {{ vehicule.modele }}</h3>
                    <p>Immatriculation : {{ vehicule.immatriculation }}</p>
                    {% if vehicule.entretiens.all %}
                    <p>Kilometrage : {{ vehicule.entretiens.first.kilometrage_separator }} km</p>
                    {% else %}
                    <p>Kilometrage : {{ vehicule.kilometrage_separator }} km</p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <section class="next_entretiens">
        <h2>Entretiens à prévoir</h2>
        <div class="next_entretiens__cards">
            {% for entretien in entretiens_planifies_tries %}
            <div class="next_entretiens__items">
                <h3>{{ entretien.vehicule.marque }} {{ entretien.vehicule.modele }} :</h3>
                {% if entretien.date_prevue and entretien.kilometrage_prevu %}
                <p>{{ entretien.date_prevue }} ou {{ entretien.kilometrage_prevu_separator }} km</p>
                {% elif entretien.date_prevue %}
                <p>{{ entretien.date_prevue }}</p>
                {% else %}
                <p>{{ entretien.kilometrage_prevu_separator }} km</p>
                {% endif %}
                <p class="tiret">-</p>
                <p>{{ entretien.type_entretien }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="entretiens">
        <h2>Derniers entretiens</h2>
        <div class="entretriens__cards">
            {% for vehicule in vehicules %}
            <div class="entretiens__items">
                <h3>{{vehicule.marque}} {{vehicule.modele}} :</h3>
                {% if vehicule.entretiens.all %}
                <ul>
                    {% for entretien in vehicule.entretiens.all %}
                    <li>{{entretien.date}} - {{entretien.type_entretien}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    <li>Aucun entretien pour le moment</li>
                </ul>
                {% endif %}
            </div>
            {% endfor %}

        </div>

    </section>
    




</div>
{% endblock content %}