{% extends "base.html" %}

{% block title %}<title>{{ vehicule.marque }} {{ vehicule.modele }} - Détail</title>{% endblock title %}


{% block content %}
<div class="container">
    <section class="detail-vehicule">
        <h2>{{ vehicule.marque }} {{ vehicule.modele }}</h2>
        <div class="infos-basic__container">
            <div class="infos-basic">
                <div class="vehicule__img">
                    <img src="{{ vehicule.photo.url }}" alt="{{ vehicule.marque }} {{ vehicule.modele }}">
                </div>
                <div class="description">
                    <h3>Informations générales</h3>
                    <p><strong>Propriétaire :</strong> {{ vehicule.proprietaire }}</p>
                    <p><strong>Couleur :</strong> {{ vehicule.couleur }}</p>
                    <p><strong>Transmission :</strong> {{ vehicule.transmission }}</p>
                    <p><strong>Chevaux fiscaux :</strong> {{ vehicule.chevaux_fiscaux }}</p>
                    <p><strong>Chevaux DIN :</strong> {{ vehicule.chevaux_din }}</p>
                </div>
        </div>
        <div class="cards-infos">
            <div class="card-item">
                <p>{{ vehicule.kilometrage_separator }}</p>
                <p>Kilométres</p>
            </div>
            <div class="card-item">
                <p>{{ vehicule.annee|date:"Y" }}</p>
                <p>Année</p>
            </div>
            <div class="card-item">
                <p>{{ vehicule.carburant }}</p>
                <p>Carburant</p>
            </div>
            <div class="card-item">
                <p>{{ vehicule.immatriculation }}</p>
                <p>Immatriculation</p>
            </div>
            <div class="card-item">
                <p>{{ vehicule.immatriculation }}</p>
                <p>Contrôle technique</p>
            </div>

        </div>

    </section>

    <section class="entretien_vehicules">
        <div class="entretien_vehicules__historique">
            <h3>Historique des entretiens</h3>
            <div class="entretiens_all">
                {% for entretien in entretiens %}
                <div class="entretien_item">
                    <div class="entretiens_1">
                        <p>{{ entretien.type_entretien }}</p>
                        <p>{{ entretien.kilometrage_separator }} km</p>
                    </div>
                    <div class="entretiens_2">
                        <p>{{ entretien.date }}</p>
                        <p>{{ entretien.montant_formate }}</p>                   
                    </div>
                </div>
                {% empty %}
                <p>Aucun entretien enregistré pour ce véhicule.</p>
                {% endfor %}
            </div>
        </div>

        <div class="entretien_vehicules__stats">
            <h3>Statistiques</h3>
            <div class="entretiens_stats1"></div>
            <div class="entretiens_stats2"></div>
        </div>

    </section>

    <section class="entretien_vehicules">
        <div class="entretien_vehicules__historique">
            <h3>Documents</h3>
            <div class="document_item">
                <div class="document_card">
                    <p class="document_icone">📋</p>
                    <p class="document_text">Carte Grise</p>
                </div>
                <div class="document_card">
                    <p class="document_icone">🛡️</p>
                    <p class="document_text">Assurance</p>
                </div>
                <div class="document_card">
                    <p class="document_icone">🔧</p>
                    <p class="document_text">Contrôle technique</p>
                </div>
                <div class="document_card">
                    <p class="document_icone">🧾</p>
                    <p class="document_text">Factures</p>
                </div>
                <div class="document_card">
                    <p class="document_icone">➕</p>
                    <p class="document_text">Ajouter</p>
                </div>
            </div>


        </div>
        <div class="entretien_vehicules__stats">
            <h3>Entretiens à venir</h3>
            <div class="entretiens_a_venir">
                {% for entretien in entretiens_planifies %}
                <div class="entretien_item">
                    <div class="entretiens_1">
                        <p>{{ entretien.type_entretien }}</p>
                        {% if entretien.kilometrage_prevu %}
                        <p>{{ entretien.kilometrage_prevu_separator }} km - </p>
                        <p>{{ entretien.date_prevue }}</p>
                        {% else %}
                        <p>{{ entretien.date_prevue }}</p>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <p>Aucun entretien a prévoir pour ce véhicule.</p>
                {% endfor %}
            </div>
        </div>



    </section>

</div>
{% endblock content %}
